.fable{
    width:800px;
    height:600px;
    border:1px solid #000;
}

.fly {
    animation-name: diagonal-slide;
    animation-duration: 5s;
    animation-iteration-count: 10;
    position: absolute;
}

@keyframes diagonal-slide {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: 100px;
        top: 100px;
    }
}